@using MVC.Models
@{
    Layout = null;
    List<OrdenCompra> lista = (List<OrdenCompra>)ViewData["ListaOrdenCompra"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reporte Órdenes de Compra</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Codigo Compra</th>
                    <th>Codigo Cliente</th>
                    <th>Fecha Compra</th>
                    <th>Fecha Estimada Entrega</th>
                </tr>
            </thead>
            <tbody>

                @if (lista == null || lista.Count == 0)
                {
                    <tr>
                        <td colspan="2">No existe información</td>
                    </tr>
                }
                else
                {
                    foreach (OrdenCompra item in lista)
                    {
                        <tr>
                            <td>@item.CodigoCompra</td>
                            <td>@item.CodigoCliente</td>
                            <td>@item.FechaCompra.ToString("dd/MM/yyyy")</td>
                            <td>@item.FechaEstimadaEntrega.ToString("dd/MM/yyyy")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div>@(lista == null ? 0 : lista.Count) Órdenes registradas</div>
    </div>
</body>
</html>
